<section class="container">
  {% if section.settings.heading != blank %}
    <h1>{{ section.settings.heading }}</h1>
  {% endif %}


    <a href="{{routes.cart_url}}">Cart <span class="cart-count">0</span></a>
    <button href="/cart/clear" class="clear-cart">Clear Cart</button>
</br></br>
    Cart Items:
</br>
    {% for item in cart.items %}
      <input class="updateItem" data-id="{{item.id}}" value="{{ item.quantity }}" type="number" />
      {{item.title}} - {{item.quantity}}pcs - {{item.price | money}}
    </br>
    {% endfor %}

  
</section>

{% schema %}
{
  "name": "Hello World",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Hello World"
    }
  ]
}
{% endschema %}
